<div class="text-center">
    <h1>Welcome to Tech Talk, the #1 Tech Blog this side of Texas!</h1>
    <br />
    <h2>To see what we're got to offer, please make an account and login!</h2>
    <br />
    <a href="/login" class="display-4">Login</a>
</div>